<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSubSub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>E001UsingString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>E002UsingFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>E003UsingList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>E004UsingArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>E005UsingMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310CD7B0192A441A004D4327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310CD7C0192A4487004D4327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313BBBCC192CB22C00832B0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>318CF60D1931EE1E00FFDA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E13818192ACFED006DDF4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E13829192AD437006DDF4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
